@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$main-brown-color: #592600;
$main-font-family: 'Poppins', sans-serif;
$dancing-script-font: 'Dancing Script', cursive;

html{
    font-size: 10px;
    body{
        color: #fff;
        font-family: $main-font-family;
        background-color: $main-brown-color;
        span{font-family: $dancing-script-font;}
    }
}

// Header starts
header{
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #fff;
    i{font-size: 2.4rem;}
    .logo{font-family: $dancing-script-font; font-size: 2.6rem;}
}
// Header ends

// Home starts
.home-container{
    height: 92vh;
    position: relative;
    border-bottom: 1px solid #fff;
    .main-text{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 50%; left: 50%; transform: translate(-50%,-50%);
        background-color: rgba(255,255,255, 0.89);
        color: #7E4B0E;
        border-radius: 5px;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 3rem;
        h1{font-size: 6rem;}
        button{
            font-size: 3.2rem;
            background-color: $main-brown-color;
            color: #fff;
            padding: 1rem 1.5rem;
            border: none;
            outline: none;
            text-transform: uppercase;
            margin-top: 3rem;
            cursor: pointer;
        }
        span{
            position: relative;
            display: block;
            font-size: 3.9rem;
        }
        span::before,span::after{
            content:"";
            position: absolute;
            top: 50%;
            height: 2px;
            width: 20px;
            background-color: #7E4B0E;
        }
        span::before{
            left: 0;
            transform: translate(-105%, -50%);
        }
        span::after{
            right: 0;
            transform: translate(105%, -50%);
        }
        // text-align: center;
        
        // span{display: block; width: 50%;}
        // button{color: $main-brown-color; display: block;}
    }
}
.home-container::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(../images/living-room-background.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(80%) contrast(120%);
}
// Home ends

// Offer starts
.offer{
    min-height: 100vh;
    width:100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    max-width: 125rem;
    text-align: center;
    h2{font-size: 5rem; letter-spacing: 3px; margin: 7rem 0; text-transform: uppercase;}
    h3{font-size: 2.6rem; letter-spacing: 2px; text-transform: uppercase; margin-bottom: 1rem;}
    .products{
        display: flex;
        justify-content: space-between;
        .product{
            width: 30%;
            .example-img{
            margin-bottom: 3rem;
            border: 1px solid rgba(255, 255, 255, .6);
            img{
                width: 100%;
                max-width: 100%;
            }
            .about{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: -4.5px;
                    font-size: 1.8rem;
                    .info{padding-left: 1rem;}
                    span{
                        display: block;
                        border-left: 1px solid rgba(255, 255, 255, .6);
                        padding: 1rem;
                        font-size: 2rem;
                }
            }
        }
    }
}
}
// Offer ends

//Footer starts
footer{
    border-top: 1px solid #fff;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    .email{font-family: $main-font-family;}
    span{margin: 0 1rem;}
}
//Footer ends