@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

html body {
  color: #fff;
  font-family: "Poppins", sans-serif;
  background-color: #592600;
}

html body span {
  font-family: "Dancing Script", cursive;
}

header {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fff;
}

header .fa-shopping-cart {
  font-size: 2.4rem;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

header .fa-shopping-cart:hover {
  color: #999;
}

header .logo {
  font-family: "Dancing Script", cursive;
  font-size: 2.6rem;
}

.home-container {
  height: 92vh;
  position: relative;
  border-bottom: 1px solid #fff;
}

.home-container .main-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.89);
  color: #7E4B0E;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 3rem;
}

.home-container .main-text h1 {
  font-size: 6rem;
}

.home-container .main-text button {
  font-size: 3.2rem;
  background-color: #592600;
  color: #fff;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  margin-top: 3rem;
  cursor: pointer;
}

.home-container .main-text span {
  position: relative;
  display: block;
  font-size: 3.9rem;
}

.home-container .main-text span::before, .home-container .main-text span::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 20px;
  background-color: #7E4B0E;
}

.home-container .main-text span::before {
  left: 0;
  -webkit-transform: translate(-105%, -50%);
          transform: translate(-105%, -50%);
}

.home-container .main-text span::after {
  right: 0;
  -webkit-transform: translate(105%, -50%);
          transform: translate(105%, -50%);
}

.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/living-room-background.jpg);
  background-position: center;
  background-size: cover;
  -webkit-filter: brightness(80%) contrast(120%);
          filter: brightness(80%) contrast(120%);
}

.offer {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 125rem;
  text-align: center;
}

.offer h2 {
  font-size: 5rem;
  letter-spacing: 3px;
  margin: 10rem 0 7rem 0;
  text-transform: uppercase;
}

.offer h3 {
  font-size: 2.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.offer .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer .products .product {
  width: 30%;
}

.offer .products .product .example-img {
  margin-bottom: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.offer .products .product .example-img img {
  width: 100%;
  max-width: 100%;
}

.offer .products .product .example-img .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -4.5px;
  font-size: 1.8rem;
}

.offer .products .product .example-img .about .info {
  padding-left: 1rem;
}

.offer .products .product .example-img .about span {
  display: block;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  padding: 1rem;
  font-size: 2rem;
}

footer {
  border-top: 1px solid #fff;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

footer .email {
  font-family: "Poppins", sans-serif;
}

footer span {
  margin: 0 1rem;
}
/*# sourceMappingURL=style.css.map */