@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Poppins&display=swap');
// global/variables
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$main-brown-color: #592600;
$main-font-family: 'Poppins', sans-serif;
$dancing-script-font: 'Dancing Script', cursive;

html{
    font-size: 10px;
    body{
        color: #fff;
        font-family: $main-font-family;
        background-color: $main-brown-color;
        span{font-family: $dancing-script-font;}
    }
}

// Header starts
header{
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #fff;
    .fa-shopping-cart{font-size: 2.4rem; position: relative; transition: .3s; cursor: pointer;}
    .fa-shopping-cart:hover{color: #999;}
    .logo{font-family: $dancing-script-font; font-size: 2.6rem;}
}
// Header ends

// Home starts
.home-container{
    height: 92vh;
    position: relative;
    border-bottom: 1px solid #fff;
    .main-text{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 50%; left: 50%; transform: translate(-50%,-50%);
        background-color: rgba(255,255,255, 0.89);
        color: #7E4B0E;
        border-radius: 5px;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 3rem;
        h1{font-size: 6rem;}
        button{
            font-size: 3.2rem;
            background-color: $main-brown-color;
            color: #fff;
            padding: 1rem 1.5rem;
            border: none;
            outline: none;
            text-transform: uppercase;
            margin-top: 3rem;
            cursor: pointer;
        }
        span{
            position: relative;
            display: block;
            font-size: 3.9rem;
        }
        span::before,span::after{
            content:"";
            position: absolute;
            top: 50%;
            height: 2px;
            width: 20px;
            background-color: #7E4B0E;
        }
        span::before{
            left: 0;
            transform: translate(-105%, -50%);
        }
        span::after{
            right: 0;
            transform: translate(105%, -50%);
        }
    }
}
.home-container::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(../images/living-room-background.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(80%) contrast(120%);
}
// Home ends

// Offer starts
.offer{
    width:100%;
    padding: 7rem 0;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    max-width: 125rem;
    text-align: center;
    h2{font-size: 5rem; letter-spacing: 3px; margin-bottom: 7rem; text-transform: uppercase;}
    h3{font-size: 2.6rem; letter-spacing: 2px; text-transform: uppercase; margin-bottom: 1rem;}
    .products{
        display: flex;
        justify-content: space-between;
        .product{
            width: 30%;
            .example-img{
            margin-bottom: 3rem;
            border: 1px solid rgba(255, 255, 255, .6);
            img{
                width: 100%;
                max-width: 100%;
            }
            .about{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: -4.5px;
                    font-size: 1.8rem;
                    .info{padding: 0 1rem;}
                    span{
                        display: block;
                        border-left: 1px solid rgba(255, 255, 255, .6);
                        padding: 1rem;
                        font-size: 2rem;
                }
            }
        }
    }
}
}
// Offer ends

//Footer starts
footer{
    border-top: 1px solid #fff;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    .email{font-family: $main-font-family;}
    span{margin: 0 1rem;}
}
//Footer ends

@media screen and (max-height: 568px){
    header{
        height: 10vh;
    }
}
@media screen and (max-width: 1500px){
    .home-container{
        .main-text{
            letter-spacing: 2px;
            h1{font-size: 4.2rem;}
            button{font-size: 2.2rem;}
            span{font-size: 3.2rem;}
        }
    }
    .offer{
        h2{font-size: 4.5rem;}
        h3{font-size: 2.4rem;}
}
@media screen and (max-width: 1100px){
    .home-container{
        .main-text{
            letter-spacing: 2px;
            h1{font-size: 3rem;}
            button{font-size: 1.8rem;}
            span{font-size: 2.6rem;}
        }
    }
    .offer{
        h2{font-size: 3.6rem;}
        h3{font-size: 2rem;}
        .products{
            .product{
                .example-img{
                    .about{font-size: 1.6rem;
                        .info{padding-left: 1rem;}
                        span{font-size: 1.8rem;}
                        }
                    }
                }
            }
        }
    }
    footer{font-size: 1.8rem;}
}
@media screen and (max-width: 825px){
    .home-container{
        .main-text{
            padding: 2.5rem 2rem;
            text-align: center;
            h1{font-size: 2rem; margin-bottom: 1rem;}
            button{font-size: 1.5rem;}
            span{font-size: 1.8rem;}
        }
    }
    .offer{
        h2{font-size: 3rem;}
        .products{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .product{width: 80%;}
        }
    }
    footer{
        font-size: 1.4rem;
        padding: 0 1rem;
        text-align: center;
    }
}